header{
    width: 100%;
    position: relative;
    h1{
        width: 100%;
        top:0;
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 35px;
        position: fixed;
        text-align: center;
        background-color: $couleur_primaire;
        color: white;
        font-family: AkayaKanadaka-Regular;
    }
}

nav{
    width: 100%;
    margin-top: 92px;
    background-color: $font_nav;
    ul{
        width: fit-content;
        margin: auto;
        display: flex;
    }
}

nav li{
        list-style: none;
        padding-top: 15px;
        padding-bottom: 15px;
        a{
            padding: 15px;
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
}