


.contain_section{
    width: 989px;
    padding: 17px 0px 5px 0px;
    margin: auto;
    background-color: $font_main;
}

/* cette partie de code représente la première section de la page index
   soit les dernier articles sorties  */

.first_column, .second_column, .last_article{
    display: flex;
}


.last_article{
    width: 989px;
    margin-bottom: 50px;
}
.contain_recent_art{
    width: 520px;
    margin-left: 20px;
}
.main_second_title{
    width: 220px;
    margin-bottom: 20px;
}
.contain_article{
    width: 520px;
}
.first_column, .second_column{
    width: 520px;
}
#recent_art_1, #recent_art_3{
    margin-right: 20px;
}
.block_article{
    width: 250px;
    height: 180px;
    margin-bottom: 17px;
    background-color: black;
}

// section liste d'articles anciens
.contain_section_list{
    margin-left: 20px;
}
.older_art_h2{
    width: 540px;
    margin-bottom: 20px;
}
.contain_list{
    width: 540px;
}

.older_article ul{
    width: 540px;
    list-style: none;
    li{
        margin-bottom: 4px;
    }
}

.older_article hr{
    margin-top: 4px;
}

.align_list{
    display:flex;
    justify-content: space-between;
}
